<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>GA Word Doc.dotx</Template><TotalTime>176</TotalTime><Application>LibreOffice/6.0.7.3$Linux_X86_64 LibreOffice_project/00m0$Build-3</Application><Pages>4</Pages><Words>928</Words><Characters>4879</Characters><CharactersWithSpaces>5781</CharactersWithSpaces><Paragraphs>27</Paragraphs><Company>Geoscience Australia</Company></Properties>